{{>head}}
    {{>navbar }}    
   <div>
       <div class="col-8">
           <h1>NODE JS</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquid ipsam, beatae nam architecto ratione excepturi, harum facilis tenetur, ipsa minima? Ut quaerat, laborum rerum libero est amet deleniti magni!</p>
       </div>
       <div class="col-4">
           <img src="assets/img/download.png" alt="img-thumbnail">
       </div>
   </div>
    {{>footer}}